.heading{
    color: rgb(77, 73, 73);
    font-size: 32px;
    text-align: center;
    font-family: 'Righteous', cursive;
    text-decoration: underline;
}
h1{
    text-align: center;
    font-family: 'Righteous', cursive;
}
.head{
    text-align: center;
    padding: 40px;
    width: 100%;
    height: auto;
    background: linear-gradient(207deg, rgba(255,163,166,0.8080225840336135) 40%, rgba(255,221,194,0.5) 76%);;

}
.card {
    /* background: linear-gradient(207deg, rgba(255,163,166,0.8080225840336135) 40%, rgba(255,221,194,0.5) 76%);; */
    background-color: #f4f4f4;
    width: 400px;
    height: 254px;
    border-radius: 20px;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #aeb2b6;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
.card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color:rgba(251, 245, 246, 0.908);
    color: #2f2c2c;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
.text-body {
    margin-top: 80px;
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
.text-title {
    font-family: 'Righteous', cursive;
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
.card:hover {
    border-color: rgba(255,163,166,0.9080225840336135);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }
.container1{
    display: inline-flex;
    padding-left: 100px;
    justify-content: space-between ;
    margin-top: 100px;
   }
/* .container2{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
   }
.container3{
    margin-top: 100px;
    display: flex;
    margin-left: -540px;
    justify-content: space-evenly;
} */
.course-image{
    width: 70px;
    font-weight:bold;
}
.left{
    width: 50%;
    position: absolute;
}
.right{
    width: 50%;
    position: absolute;
    left: 120px;
}
.card2 {
    background: linear-gradient(207deg, rgba(255,163,166,0.5080225840336135) 40%, rgba(255,221,194,0.5) 76%);;
    width: 400px;
    height: 254px;
    border-radius: 20px;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #aeb2b6;
    transition: 0.5s ease-out;
    overflow: visible;
    margin-left: -470px;
   }
   
.card2:hover {
    border-color: rgba(255,163,166,0.9080225840336135);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
.card2:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }