.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.btn {
    margin-top: 10px;
    margin-left: 160px;
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: .5em 2em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: 0.0001px solid black;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(255,163,166,0.9080225840336135);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(255,163,166,0.9080225840336135);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #fff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }
   .input{
    margin-top: -200px;
    background: linear-gradient(207deg, rgba(255,163,166,0.9080225840336135) 40%, rgba(255,221,194,1) 76%) ;
    padding: 30px;
    border-radius: 10px;
   }
   a{
    text-decoration: none;
   }